<!doctype html>
<head>
<title>RPi Radio</title>
</head>
<body>
{% if name %}
	<h1>Welcome, {{ name }}</h1>
{% else %}
	<h1>Welcome to RPi Radio</h1>
{% endif %}

<hr/>
{{ status }}
<hr/>
{{ localtime }}
<hr/>
<form method='POST' action='/'>
	<input type="submit" name="submit" value="turn radio on" />
	<input type="submit" name="submit" value="turn radio off" />
	<br/>
	<select name='station'>{{ stations|safe }}</select>
	<input type="submit" name="submit" value="change" />
	<br/>
	<input type="submit" name="submit" value="update playlist" />
	<br/>
	<hr/>
	<input type="submit" name="submit" value="-5" /> {{ volume }}<input type="submit" name="submit" value="+5" />
	<hr/>
	<strong>Crontab</strong><br/>
	{{ alarms|safe }}
	<hr/>
	Turn Radio on at: <input type="input" name="turnOn" maxlength="5" value="{{ alarmON }}" size="5" /><br/>
	Turn Radio off at: <input type="input" name="turnOff" maxlength="5" value="{{ alarmOFF }}" size="5" /><br/>
	<input type="submit" name="submit" value="update alarms"/>
	<hr/>
</form>
</body>
